pywin32; sys_platform == 'win32'
pyobjc-framework-Cocoa; sys_platform == 'darwin'
psutil
pyinstaller
PyQt6
posthog
python-dotenv
pytest
pytest-qt
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client

